@font-face {
    font-family: 'bc_fonts';
    src:url('../fonts/bc_fonts.eot?l51bwd');
    src:url('../fonts/bc_fonts.eot?#iefixl51bwd') format('embedded-opentype'),
    url('../fonts/bc_fonts.ttf?l51bwd') format('truetype'),
    url('../fonts/bc_fonts.woff?l51bwd') format('woff'),
    url('../fonts/bc_fonts.svg?l51bwd#bc_fonts') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="bcf-"], [class*=" bcf-"] {
    font-family: 'bc_fonts';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bcf-envelope-lock-open:before {
    content: "\bc002";
}
.bcf-envelope-lock-closed:before {
    content: "\bc007";
}
.bcf-envelope-open:before {
    content: "\bc00d";
}
.bcf-chevron-what:before {
    content: "\bc008";
}
.bcf-external-excluir:before {
    content: "\bc004";
}
.bcf-globo:before {
    content: "\bc001";
}
