<div ng-controller="CadastraIFController">
    <section class="container" role="main" aria-label="Formulário de cadastro">
        <header>
            <h3>Cadastro de IFs</h3>
        </header>

        <form role="form">
            <div class="small text-right">Campos com <i class="fa fa-asterisk"></i> são de preenchimento obrigatório.</div>
            <fieldset>
                <legend>Dados gerais</legend>
                <div class="row">
                    <div class="form-group col-md-4 has-success has-feedback">
                        <label class="control-label" for="nomeIF">Nome <i class="fa fa-asterisk fa-small"></i></label>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" id="nomeIF" placeholder="Nome da IF" title=""
                            data-original-title="Nome da instituição financeira a ser cadastrada" ng-model="nomeIF">
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group col-md-4 has-success has-feedback">
                        <label class="control-label" for="enderecoIF">Endereço da carteira<i class="fa fa-asterisk fa-small"></i></label>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" id="enderecoIF" placeholder="Endereço da carteira"
                            title="" data-original-title="Endereço da instituição financeira a ser cadastrada" ng-model="enderecoCarteira">
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group col-md-4 has-success has-feedback">
                        <label class="control-label" for="enderecoIF">Certificado da IF<i class="fa fa-asterisk fa-small"></i></label>
                        <textarea type="text" class="form-control" data-toggle="tooltip" data-placement="top" id="certificadoIF" placeholder="Endereço da carteira"
                            title="" data-original-title="Certificado da instituição financeira a ser cadastrada" ng-model="certificadoIF"></textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group col-md-4 has-success has-feedback">
                        <label class="control-label" for="senhaIF">Senha da carteira BCB</label>
                        <input type="password" class="form-control" data-toggle="tooltip" data-placement="top" id="senhaIF" placeholder="Senha da carteira BCB"
                            title="" data-original-title="Senha da carteira" ng-model="senhaCarteiraBCB">
                    </div>
                </div>
                <div role="toolbar" class="buttonAcao">
                    <button type="button" role="button" class="btn btn-primary pull-right" title="" data-original-title="Incluir" ng-click="cadastraIF()"><i class="fa fa-plus-circle"></i> Incluir</button>
                    <!--<button type="button" role="button" class="btn btn-default pull-right" title="" data-original-title="Voltar"><i class="fa bc-envelope-open fa-2x"></i> Voltar </button>-->
                    <span us-spinner="{radius:30, width:8, length: 16}"></span>
                </div>
                <section>
                    <header>
                        <h3>IFs cadastradas</h3>
                    </header>
                    <div class="row" role="grid">
                        <div class="col-md-12">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr class="info">
                                        <th class="col-md-2"><a href="#" title="" data-original-title="Nome"><span>Nome</span></a></th>
                                        <th class="col-md-8"><a href="#" title="" data-original-title="Endereço"><span>Endereço</span></a></th>
                                        <th class="col-md-2 text-center"><a href="#" title="" data-original-title="Ações"><span>Ações</span></a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="banco in bancos">
                                        <td>{{banco.name}}</td>
                                        <td>{{banco.addrBank}}</td>
                                        <td class="text-center"><a href="TelaCadastro.html" title="" data-original-title="Alterar registro"><i class="fa fa-edit fa-lg"></i></a>
                                            <a href="TelaCadastro.html"><i class="fa fa-eye fa-lg" title="" data-original-title="Detalhar ativo"></i></a>
                                            <a href="#myModal" role="button" data-toggle="modal" title="" data-original-title="Excluir registro"><i class="fa fa-remove fa-lg"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
        </form>

    </section>

</div>