<div ng-controller="CriptografiaController">
    <input type="text" ng-model="texto"></input>

    <button type="button" role="button" class="btn btn-primary pull-right" title="" data-original-title="Incluir" ng-click="criptografarAss()"><i class="fa fa-plus-circle"></i>Criptografar Ass</button>
    <button type="button" role="button" class="btn btn-primary pull-right" title="" data-original-title="Incluir" ng-click="descriptografarAss()"><i class="fa fa-plus-circle"></i>Descriptografar Ass</button>
    <button type="button" role="button" class="btn btn-primary pull-right" title="" data-original-title="Incluir" ng-click="criptografarSim()"><i class="fa fa-plus-circle"></i>Cripgrafar Sim</button>
    <button type="button" role="button" class="btn btn-primary pull-right" title="" data-original-title="Incluir" ng-click="descriptografarSim()"><i class="fa fa-plus-circle"></i>Descripgrafar Sim</button>
    <span>{{mensagemCripografada}}</span>

    

    <span>{{mensagemDescriptografada}}</span>

</div>